alias ll='ls -lFa'
alias sp='source ${ZDOTDIR:-$HOME}/.zshrc'
alias editrc='atom ${ZDOTDIR:-$HOME}/.zshrc'
alias editaliases='atom ${ZDOTDIR:-$HOME}/.zsh_aliases'

alias sf='php bin/console'
alias sy='symfony'
alias syc='symfony console'
alias sftest='php bin/phpunit'

alias fit2csv='java -jar /usr/local/bin/FitCSVTool.jar'

{{ if and (ne .nasIP "") (ne .nasUser "") -}}
alias m1mm='ssh {{ .nasUser }}@{{ .nasIP }}'
{{ end -}}

alias cc='claude --permission-mode acceptEdits'
